html{
   font-size: 62.5%;
   text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
.h1{
    font-size: 3rem;
    color: rgb(93, 93, 218);
}
.p{
    font-size: 2rem;
    color: blueviolet;
}
.img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}
hr{
    margin-top: 3rem;
   border:1px solid rgb(63, 250, 63);
}
.p1{
    margin-top: 3rem;
    color: rgb(52, 50, 53);
    font-size: 1.6rem;
    text-align: left;
}